.common {
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  .common::-webkit-scrollbar {
    display: none;
  }
  
  .mobile {
    max-width: 90vw;
    overflow-x: scroll;
  }
  
  .mobile::-webkit-scrollbar {
    display: none;
  }
  